{% load static %}
<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body style=" background-color: rgb(210, 249, 249);">
        <nav style="display:flex;" class="navbar2 navbar-expand-lg navbar-dark bg-primary">
            <a class="text navbar-brand" href="{% url 'top' 1 %}">給与管理アプリ</a>
            <a class="navbar-brand" style="margin-top: 15px;" href="{% url 'index' %}">会員ページ</a>
            <!-- <a class="navbar-brand btn" style="height: 40px; justify-content: end; margin-top: 10px; color: blue; background-color: rgb(105, 202, 237);;" onclick="clickBtn3()">メニュー</a>
            <li id="hide3" style="display:flex; flex-flow: column; background-color: rgb(206, 240, 240);">
                <a href="{% url 'list' %}" style="color: black;">月ごとの勤務記録</a>
                <a href="{% url 'list' %}" style="color: black;">月ごとの勤務記録</a>
                <a href="{% url 'list' %}" style="color: black;">月ごとの勤務記録</a>
                <a href="{% url 'list' %}" style="color: black;">月ごとの勤務記録</a>
                <a href="{% url 'list' %}" style="color: black;">月ごとの勤務記録</a>
                <a href="{% url 'list' %}" style="color: black;">月ごとの勤務記録</a>
            </li> -->
        </nav>
        {% include "salary/navi.html" %}
        <div class="container mt-4">
            <!-- メッセージ表示 -->
            {% for message in messages %}
            <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
            {% endfor %}
            
            {% block main %}
            <p>※コンテンツがありません。</p>
            {% endblock %}
        </div>
        
    </body>
    <script>
        //初期表示は非表示
        document.getElementById("hide3").style.display ="none";

        function clickBtn3(){
            var p1 = document.getElementById("hide3");
        
            if(p1.style.display=="block"){
                // noneで非表示
                p1.style.display ="none";
            }else{
                // blockで表示
                p1.style.display ="block";
            }
        }
        </script>
</html>
