{% extends "salary/base2.html" %}
{% load humanize %}

{% block main %}
<br><br>
<table id=wage_list width="100%" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center">時給</th>
            <th class="center">変更・削除</th>
        </tr>
    </thead>

    {% for wage in wage %}
    <tbody>
        <tr>
            <td  class="center" width="100"><span class="important">{{ wage.name|intcomma }}円</span></td>
            <td class="center" width="150">
                <a class="btn btn-primary" href="{% url 'wage_update' wage.id %}" role="button">更新ページ</a>
                <a class="btn btn-danger" href="{% url 'wage_delete' wage.id %}" role="button">削除ページ</a>
            </td>
        </tr>
    </tbody>
{% empty %}
    <h1 class="center">コンテンツがありません。</h1>
{% endfor %}
</table>
<h3 class="center2"><a class="btn btn-primary btn-lg" href="{% url 'wage_create' %}" role="button">時給の追加登録</a></h3>
{% endblock %}