{% extends "salary/base2.html" %}
{% load mathfilters %}
{% load humanize %}

{% block main %}
<div style="margin-left: 10%; width: 70%;">
    <h1 >{{year}}年{{month}}月勤務記録一覧</h1>
    <h2 >今月の勤務時間の合計は<span style="display: inline-block;" class="important">{{ total_worktime_h }}時間{{ total_worktime_m }}分</span>です。</h2>
    <h2 >今月の給与合計は<span style="display: inline-block;" class="important">{{ total_wage|floatformat:0 |intcomma }}円</span>です。</h2>
</div>
<br>
<form action="{% url 'list' %}" method="post">
    {% csrf_token %}
    <p class="button">
    <input type="submit" name="lastyear" value="去年へ" class="btn btn-outline-dark">
    <input type="submit" name="toyear" value="今年へ" class="btn btn-outline-dark">
    <input type="submit" name="nextyear" value="来年へ" class="btn btn-outline-dark">
    </p>
    <p class="button">
    <input type="submit" name="lastmonth" value="先月へ" class="btn btn-outline-dark btn-lg">
    <input type="submit" name="tomonth" value="今月へ" class="btn btn-outline-dark btn-lg">
    <input type="submit" name="nextmonth" value="来月へ" class="btn btn-outline-dark btn-lg">
    </p>
    <input type="hidden" name="month_data" value="{{ month }}">
</form>


<!-- テーブル表の定義 -->
<table style="background-color: white;" id=work_list width="100%" class="table table-striped table-bordered table-hover">
    <!-- 表の列の定義-->
    <thead>
        <tr>
            {% if work %}
                <th class="text-center">勤務日</th>
                <th class="text-center">勤務時間</th>
                <th class="text-center">日当</th>
                <th class="text-center">詳細・更新・削除</th>
            {% endif %}
        </tr>
    </thead>
    <!-- ここまでが表の列の定義-->

    <!-- 表のデータ部分の表示-->
    <tbody>
        {% for work in work %}
        <tr class="odd gradeX text-center">
            {% if work.yukyu %}
                <td class="text-center" width="100"><p style="color: red; margin: 0;">有給！！</p>{{ work.Worked_date}}</td>
            {% else %}
                <td class="text-center" width="100">{{ work.Worked_date}}</td>
            {% endif %}

            <td class="text-center" width="100">{{ work.total_worktime_h }}時間{{ work.total_worktime_m }}分</td>

            <td class="text-center" width="100">{{ work.total_wage|intcomma }}</td>

            <td class="text-center" width="150">
                <a class="btn btn-success" href="{% url 'detail' work.id %}" role="button">詳細ページ</a>
                <a class="btn btn-primary" href="{% url 'update' work.id %}" role="button">更新ページ</a>
                <a class="btn btn-danger" href="{% url 'delete' work.id %}" role="button">削除ページ</a>
            </td>
        </tr>
        {% empty %}
            <h1 class="center">コンテンツがありません。</h1>
        {% endfor %}
    </tbody>
    <!-- ここまでが表のデータ部分の表示-->

    </table>
    <!-- ここまでがテーブル表の定義 -->

{% endblock %}