{% extends "salary/base2.html" %}
{% load mathfilters %}
{% load humanize %}
{% load l10n %}

{% block main %}
<h2 class="center2">{{ work.Worked_date}}の勤務記録</h2>
<br>

<!-- テーブル表の定義 -->
<table style="background-color: white;" id=work_detail width="100%" class="table table-striped table-bordered table-hover">
    <!-- 表の列の定義-->
    <thead>
        <tr>
            <th class="text-center">総勤務時間</th>
            <th class="text-center">日当</th>
            <th class="text-center">残業の有無</th>
            <th class="text-center">有給</th>
        </tr>
    </thead>
    <!-- ここまでが表の列の定義-->

    <!-- 表のデータ部分の表示-->
    <tbody>
        <tr class="odd gradeX text-center">
            <td class="text-center" width="30%">{{ work.total_worktime_h }}時間{{ work.total_worktime_m }}分</td>
            <td class="text-center" width="30%">{{ work.total_wage|intcomma }}円</td>
            <!-- 残業について -->
            {% if work.zangyo_m or work.zangyo_h %}
                <td class="text-center" width="20%">残業あり</td>
            {% else %}
                <td class="text-center" width="20%">残業なし</td>
            {% endif %}
            <!-- 有給について -->
            {% if work.yukyu %}
                <td class="text-center" width="20%">有給使用</td>
            {% else %}
                <td class="text-center" width="20%">有給未使用</td>
            {% endif %}
        </tr>
    </tbody>
    <!-- ここまでが表のデータ部分の表示-->
</table>
<br><hr><br>
<h3 class="center">勤務時間の詳細</h3><br>
<table style="background-color: white;" id=work_detail width="100%" class="table table-striped table-bordered table-hover">
    <!-- 表の列の定義-->
    <thead>
        <tr>
            <th width="40%"></th>
            <th class="text-center" width="20%">勤務時間</th>
            <th class="text-center" width="20%">時給</th>
            <th class="text-center" width="20%">合計</th>
        </tr>
    </thead>
    <!-- ここまでが表の列の定義-->

    <!-- 表のデータ部分の表示-->
    <tbody>
        <tr class="odd gradeX text-center">
            <th>通常時給の勤務時間</th>
            <td class="text-center">{{ work.Worktime_h }}時間{{ work.Worktime_m }}分</td>
            <td class="text-center">{{ work.wage|intcomma }}円</td>
            <td class="text-center">{{ work.Worktime_m|div:60|add:work.Worktime_h|mul:work.wage|intcomma }}円</td>
        </tr>
        <tr class="odd gradeX text-center">
            <th>時給変更後の勤務時間</th>
            {% if work.wage_2 %}
                <td class="text-center">{{ work.Worktime_h_2 }}時間{{ work.Worktime_m_2 }}分</td>
                <td class="text-center">{{ work.wage_2|intcomma }}円</td>
                <td class="text-center">{{ work.Worktime_m_2|div:60|add:work.Worktime_h_2|mul:work.wage_2|intcomma }}円</td>
            {% else %}
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
            {% endif %}
            </tr>
        <tr class="odd gradeX text-center">
            <th>残業の詳細</th>
            {% if work.zangyo_h != 0 and work.zangyo_m != 0 %}
                <td class="text-center">{{ work.zangyo_h }}時間{{ work.zangyo_m }}分</td>
                <td class="text-center">{{ work.zangyo_wage|intcomma }}円</td>
                <td class="text-center">{{ work.zangyo_m|div:60|add:work.zangyo_h|mul:work.zangyo_wage|intcomma }}円</td>
            {% else %}
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
            {% endif %}
        </tr>
    </tbody>
    <!-- ここまでが表のデータ部分の表示-->

    </table>
    <!-- ここまでがテーブル表の定義 -->
<br>
<p class="center">
    <a class="btn btn-primary" href="{% url 'update' work.id %}" role="button">編集</a>
    <a class="btn btn-danger" href="{% url 'delete' work.id %}" role="button">削除</a>
</p>
{% endblock %}