{% extends "salary/base2.html" %}
{% load mathfilters %}
{% load humanize %}
{% load l10n %}

{% block main %}
<h2 class="center2"><a href="{% url 'list' %}">勤務記録一覧</a></h2>
<br>

<!-- テーブル表の定義 -->
<table id=work_detail width="100%" class="table table-striped table-bordered table-hover">
    <!-- 表の列の定義-->
    <thead>
        <tr>
            <th class="text-center">勤務日</th>
            <th class="text-center">勤務時間</th>
            <th class="text-center">時給</th>
            {% if work.wage_2 %}
                <th class="text-center">時給変更後の勤務時間</th>
                <th class="text-center">変更後の時給</th>
            {% endif %}
            <th class="text-center">日当</th>
            <th class="text-center">残業</th>
            <th class="text-center">残業手当</th>
            <th class="text-center">有給</th>
        </tr>
    </thead>
    <!-- ここまでが表の列の定義-->

    <!-- 表のデータ部分の表示-->
    <tbody>
        <tr class="odd gradeX text-center">
            <td class="text-center" width="150">{{ work.Worked_date}}</td>
            <td class="text-center" width="100">{{ work.Worktime_h }}時間{{ work.Worktime_m }}分</td>
            <td class="text-center" width="100">{{ work.wage }}円</td>
            {% if work.wage_2 %}
                <td class="text-center" width="220">{{ work.Worktime_h_2 }}時間{{ work.Worktime_m_2 }}分</td>
                <td class="text-center" width="200">{{ work.wage_2 }}円</td>
            {% endif %}
            <td class="text-center" width="100">{{ work.total_wage }}円</td>
            <!-- 残業について -->
            {% if work.zangyo_m %}
                {% if not work.zangyo_h %}
                    <td class="text-center" width="100">0時間{{ work.zangyo_m }}分</td>
                {% else %}
                    <td class="text-center" width="100">{{ work.zangyo_h }}時間{{ work.zangyo_m }}分</td>
                {% endif %}
                <td class="text-center" width="100">{{ zangyo }}円</td>
            {% elif work.zangyo_h %}
                {% if not work.zangyo_m %}
                    <td class="text-center" width="100">{{ work.zangyo_h }}時間0分</td>
                {% else %}
                    <td class="text-center" width="100">{{ work.zangyo_h }}時間{{ work.zangyo_m }}分</td>
                {% endif %}
                <td class="text-center" width="100">{{ zangyo }}円</td>
            {% else %}
                <td class="text-center" width="100">残業なし</td>
                <td class="text-center" width="100">残業なし</td>
            {% endif %}
            <!-- 有給について -->
            {% if work.yukyu == 1 %}
                <td class="text-center" width="120">有給使用</td>
            {% else %}
                <td class="text-center" width="120">有給未使用</td>
            {% endif %}
        </tr>
    </tbody>
    <!-- ここまでが表のデータ部分の表示-->

    </table>
    <!-- ここまでがテーブル表の定義 -->

<p class="center">
    <a class="btn btn-primary" href="{% url 'update' work.id %}" role="button">編集</a>
    <a class="btn btn-danger" href="{% url 'delete' work.id %}" role="button">削除</a>
</p>
{% endblock %}